.title{
    font-size: 30px;
    text-align: center;
}

.header{
    font-size: 20px;
}

.sub-header{
    font-weight: 700;
}

.content{
    font-size: 15px;
}

img{
    float:right;
    height: 100%;
    width: 500px;
}